.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #082032;
}

h1 {
  margin: 30px;
  font-family: "Bungee Inline", cursive;
  text-shadow: 5px 0 #b61919;
  font-size: 8rem;
  color: #ff4c29;
}

p {
  font-size: 2rem;
  color: #ff4c29;
  font-family: "Aldrich", sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
